<div class="welcome-page-wrapper">

    <div class="card card-test">
        <div class="card-body ">
            <div class="text-center col-sm-6 offset-sm-3">
                <img src="../../../../../assets/images/congrats.png" width="100" class="mb-4">
                <h3 class="mb-4">Congratulations, {{userName}}!</h3>
                <p>Awesome! You are taking the first step towards a
                    successful, satisfying and meaningful career.</p>
                <p>This confidential report is based on your responses to the personality and career interest tests. The analysis of your responses is then used to find out potential career options that best suit your personality strengths and career interests so you can choose appropriate study options and career paths.</p>
                <h4>Let’s take a look what your Career Report says.</h4>
            </div>

        </div>
        <div class="card-footer d-flex justify-content-center">
            <button type="button" (click)="onReports()" class="btn btn-primary">Report</button>
        </div>
    </div>
</div>
 