<section id="footer" class="pt-2 pb-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-7 col-lg-7">
                <a class="navbar-brand"  ref="javascript:void(0)" [routerLink]="['./welcome']"><img src="../../../../assets/images/bytrait_logo.png" /></a>
            </div>
            <div class="col-sm-12 col-md-5 col-lg-5  d-flex text-end justify-content-md-end justify-content-lg-end">
                <p class="me-4">  
                    Baner, Pune – 411045
                </p>
                <span class="me-2"><a href="javascript:void(0);"><i class="fa-brands fa-linkedin" style="color: #0a66c2;"></i></a></span>
                <span class="me-2"><a href="javascript:void(0);"><i class="fa-brands fa-facebook" style="color: #3b5998;"></i></a></span>
                <span class="me-2"><a href="javascript:void(0);"><i class="fa-brands fa-instagram" style="color: #c32aa3;"></i></a></span>
            </div>
        </div>
        <div class="row">
            <div class="d-flex justify-content-between flex-column flex-sm-column flex-md-row flex-lg-row">
                <small>© 2023 ByTrait pvt ltd. all rights reserved.</small>
                <div class="d-flex text-white">
                    <small class="me-3"><a href="javascript:void(0);" [routerLink]="['./aboutUs']">About Us</a></small>
                    <small class="me-3"><a href="javascript:void(0);" [routerLink]="['./contactUs']" >Contact Us</a></small>
                    <small class="me-3"><a href="https://bytrait.com/terms-and-conditions" target="_blank">Terms and conditions</a></small>
                    <small class="me-3"><a href="https://bytrait.com/privacy-policy"  target="_blank">Privacy Policy</a></small>
                    <small class="me-3"><a href="https://bytrait.com/refund_returns"  target="_blank">Refund Policy</a></small>
                </div>
            </div>
        </div>
    </div>
</section>