<div class="login-wrapper d-flex align-content-center flex-wrap">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="d-flex jusify-content-center align-content-center flex-wrap">
                    <div class="login-content d-flex align-content-start flex-column">
                        <div class="logo-wrapper mb-4">
                            <img src="../../../../assets/images/bytrait_logo.png">
                            <h1 class="mb-1 mt-4">Sign Up to get started.</h1>
                        </div>
                        <ng-container>
                            <form [formGroup]="signupForm" class="login-form form-floating">
                                <div class=" form-floating mb-3">
                                    <input type="text" class="form-control" formControlName="name" id="name" />
                                    <label for="name">Name</label>
                                </div>
                                <div class="form-floating mb-4">
                                    <input type="text" class="form-control" formControlName="mobile" id="mobile" />
                                    <label for="mobile">Mobile Number</label>
                                </div>
                                <div class="form-floating mb-4">
                                    <input type="text" class="form-control" formControlName="email" id="email" />
                                    <label for="email">Email</label>
                                </div>
                                <div class="form-floating mb-4">
                                    <input type="text" class="form-control" formControlName="registrationToken"
                                        id="registrationToken" />
                                    <label for="registrationToken">Registration Token</label>
                                    <button type="button" (click)="fetchCourses()"
                                        style="margin-top: 5px; float: right;" class="btn btn-primary">Fetch
                                        Branches</button>
                                </div>
                                <div class="form-floating mb-4" *ngIf="courses.length!==0">
                                    <select class="form-control" formControlName="branch" id="branch"
                                        style="margin-top: 48px;" [disabled]="courses.length===0">
                                        <option value=''>--Select--</option>
                                        <option *ngFor="let course of courses" [value]="course">{{ course }}</option>
                                    </select>
                                    <label for="branch">Branch</label>
                                </div>
                                <br>
                                <div class="d-flex login-btn-wrapper justify-content-start">
                                    <button type="button" [disabled]="!signupForm.valid" (click)="signup()"
                                        class="btn btn-primary me-4">SignUp</button>
                                    <button type="button" (click)="login()" class="btn btn-secondary">Login</button>
                                </div>
                            </form>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="col-sm-7">

            </div>
        </div>
    </div>
</div>
<div class="footer">
    <app-footer></app-footer>
</div>