<div class="login-wrapper d-flex align-content-center flex-wrap">
    <div class="container">
        <div class="row">
            <div class="col-sm-12   col-md-5 col-lg-5">
                <div class="d-flex jusify-content-center align-content-center flex-wrap">
                    <div class="login-content d-flex align-content-start flex-column">
                        <div class="logo-wrapper mb-4">
                            <img src="../../../../assets/images/bytrait_logo.png">
                           
                        </div>
                        <app-signin></app-signin>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-7 col-lg-7">

            </div>
        </div>
    </div>
</div>
<div class="footer">
    <app-footer></app-footer>
</div>