<div class="welcome-page-wrapper">
    <div class="hero-section">
        <h1 class="welcome-header"><span>Welcome to</span><span>Personality assessment</span></h1>
        <div class="content">
            Question Number : <strong>{{currentQuetionValue + 1}} / {{personalityList?.length}}</strong>
            <!-- <p> Take this <strong>( {{personalityList?.length}} )</strong> step personality test to find your true potential and right career path</p> -->
        </div>
    </div>
    <div class="card card-test">
        <div class="card-body">
            <div class="progress mb-4">
                <div class="progress-bar progress-bar-striped" role="progressbar" [ngStyle]="{'width':percentage+'%'}"
                    aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <form [formGroup]="personalitytestForm">
                <div class="career-test" *ngFor="let careerData of currentCareer">
                    <!-- <h3 class="fw-lighter">I'm a type of person who</h3> -->
                    <h3 class="fw-bold career-question mb-4 d-flex justify-content-start align-items-center">
                        {{careerData?.question}}</h3>
                    <p>Select below Options</p>
                    <div class="btn-group test-options-wrapper d-flex" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" (click)="handleChange(careerData?.stronglyDisagree)" class="btn-check"
                            name="answer" [value]="careerData?.stronglyDisagree" id="stronglyDisagree" autocomplete="off"
                            formControlName="answer">
                        <label class="btn btn-outline-primary" for="stronglyDisagree">Strongly Disagree</label>
                        <input type="radio" (click)="handleChange(careerData?.slightlyDisagree)" class="btn-check"
                            name="answer" [value]="careerData?.slightlyDisagree" id="slightlyDisagree" autocomplete="off"
                            formControlName="answer">
                        <label class="btn btn-outline-primary" for="slightlyDisagree">Slightly Disagree</label>

                        <input type="radio" (click)="handleChange(careerData?.neitherAgreeNorDisagree)" class="btn-check"
                            name="answer" [value]="careerData?.neitherAgreeNorDisagree" id="neitherAgreeNorDisagree"
                            autocomplete="off" formControlName="answer">
                        <label class="btn btn-outline-primary" for="neitherAgreeNorDisagree">Neither Agree Nor
                            Disagree</label>
                        <input type="radio" (click)="handleChange(careerData?.slightlyAgree)" class="btn-check"
                            name="answer" [value]="careerData?.slightlyAgree" id="slightlyAgree" autocomplete="off"
                            formControlName="answer">
                        <label class="btn btn-outline-primary" for="slightlyAgree">Slightly Agree</label>
                        <input type="radio" (click)="handleChange(careerData?.stronglyAgree)" class="btn-check"
                            name="answer" [value]="careerData?.stronglyAgree" id="stronglyAgree" autocomplete="off"
                            formControlName="answer">
                        <label class="btn btn-outline-primary" for="stronglyAgree">Strongly Agree</label>
                    </div>
                </div>
            </form>

        </div>
        <div class="card-footer d-flex justify-content-end">
            <button type="button" (click)="prev()" [disabled]="!currentQuetionValue" class="btn btn-primary me-2"><i
                    class="fa-solid fa-arrow-left"></i> Prev </button>
            <button *ngIf="!isTestEnd" type="button" (click)="next()" [disabled]="!personalitytestForm.valid"
                class="btn btn-primary">Next <i class="fa-solid fa-arrow-right"></i></button>
            <button *ngIf="isTestEnd" type="button" (click)="finish()" [disabled]="!personalitytestForm.valid" class="btn btn-primary">Finish <i
                    class="fa fa-thumbs-up" aria-hidden="true"></i></button>
        </div>
    </div>
</div>