<section id="careerIntrest" class="pt-4 pb-4" style="min-height: 65vh;">
    <div class="mb-4 d-flex flex-column  justify-content-center align-content-center">
        <h2 class="text-center">Current Qualification</h2>
        <p class="text-center">{{ branch }}</p>
    </div>

    <div class="row d-flex justify-content-between align-content-center">
            <div class="d-flex justify-content-center mb-4 mt-4"  >
                <button type="button" (click)="onNext()" class="btn btn-primary" >
                     Next
                </button>
            </div>
    </div>
</section>