<div class="welcome-page-wrapper">
    <div class="card card-test" style="height: 65vh; overflow: auto;">
        <div class="card-body">
            <div style="margin-left: 30%; margin-right: 30%; padding-top: 1%; text-align: center;">
                <div style="color: #ee6b3a; font-size: 20px; font-family: monospace; font-weight: bold;">
                    YOU ARE JUST ONE STEP AWAY</div>
                <div style="font-size: 25px; font-weight: bold; margin: 5px;">Pay Only &#8377;299 to Unlock The Future of Your Child</div>
                <div><button class="btn btn-primary w-50" (click)="createRazorpayOrder()">Pay
                        Now</button></div>
                <div style="text-align: left; margin: 35px; margin-left: 60px; margin-right: 60px;">
                    <div style="margin: 5px;display: inline-flex;">
                        <div><i class="fa fa-check-circle" style="font-size:20px;color:#0d6dfb;margin:5px"></i></div>
                        <div></div>Say goodbye to expensive career counselling
                    </div>
                    <div style="margin: 5px;display: inline-flex;">
                        <div><i class="fa fa-check-circle" style="font-size:20px;color:#0d6dfb;margin:5px"></i></div>
                        <div>Take control of you child's future with ByTrait!</div>
                    </div>
                    <div style="margin: 5px; display: inline-flex;">
                        <div><i class="fa fa-check-circle" style="font-size:20px;color:#0d6dfb;margin:5px"></i></div>
                        <div>Experience the joy of guiding your child's career journey and cherish the most rewarding
                            moments together.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>